* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #f2f2f2;
}

.container {
  width: 400px;
  margin: 100px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-box {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
}

button {
  padding: 10px;
  background: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
  margin-top: 20px;
}

li {
  background: #eee;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.time {
  font-size: 12px;
  color: gray;
}

body {
  transition: background-color 0.3s, color 0.3s;
}

.dark {
  background-color: #121212;
  color: #ffffff;
}

.dark .container {
  background-color: #1e1e1e;
}

.dark li {
  background-color: #2a2a2a;
}

.dark input,
.dark select {
  background-color: #333;
  color: white;
  border: 1px solid #555;
}

.dark button {
  background-color: #444;
  color: white;
}

#modeBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;

  padding: 12px 16px;
  border-radius: 50px;
  border: none;
  cursor: pointer;

  background-color: #333;
  color: white;
  font-size: 14px;

  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  z-index: 1000;
}

.dark #modeBtn {
  background-color: #f1f1f1;
  color: #121212;
}
